<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1 class="content-title">{{ page.title }}</h1>
          {{ content }}
        </section>

        <aside id="sidebar">
          <a href="https://www.github.com/r6e" class="button github">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <title>GitHub</title>
              <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
            </svg>
            <span class="button-text">
              GitHub
            </span>
          </a>

          <a href="https://www.thingiverse.com/r6e/" class="button thingiverse">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <title>Thingiverse</title>
              <path d="M11.955.005C5.425-.152-.091 5.485.007 11.805c-.235 6.756 5.537 12.25 12.052 12.196C18.621 23.9 23.912 18.595 24 12.03 24.031 5.483 18.505-.18 11.955.005zm-.047 1.701a10.276 10.276 0 0 1 7.36 17.529 10.275 10.275 0 0 1-17.556-7.287C1.71 6.308 6.268 1.728 11.907 1.706zm-5.55 4.781c-.322 0-.358.033-.358.361v2.248c0 .351.04.391.398.391h3.823c.274 0 .274.004.274.265v9.736a.176.176 0 0 0 .051.146c.04.038.093.059.148.053h2.555c.247-.003.283-.035.283-.28v-9.32c0-.124.004-.239 0-.39s.055-.21.218-.21h3.9c.319.004.35-.032.35-.344V6.855c0-.34-.024-.363-.37-.363h-5.626z"/>
            </svg>
            <span class="button-text">
              Thingiverse
            </span>
          </a>

          <a href="https://www.printables.com/@r6e_1216878" class="button printables">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <title>Printables</title>
              <path d="M3.678 4.8 12 9.6v9.6l8.322-4.8V4.8L12 0ZM12 19.2l-8.322-4.8V24Z"/>
            </svg>
            <span class="button-text">
              Printables
            </span>
          </a>
          

          <h1>OrcaSlicer</h1>
          {% for os_page in site.orcaslicer %}
            {% unless os_page.path contains "/config_reference/" %}
              <h3>
                <a href="{{ os_page.url }}">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ os_page.category_title }}
                </a>
              </h3>
            {% endunless %}
          {% endfor %}
          <h2>Configuration Reference</h2>
          {% for os_page in site.orcaslicer %}
            {% if os_page.path contains "/config_reference/" %}
              <h3>
                <a href="{{ os_page.url }}">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ os_page.category_title }}
                </a>
              </h3>
            {% endif %}
          {% endfor %}
          <h1>Neptune 4</h1>
          {% for n4 in site.neptune_4 %}
            <h3>
              <a href="{{ n4.url }}">
                &nbsp;&nbsp;&nbsp;&nbsp;{{ n4.category_title }}
              </a>
            </h3>
          {% endfor %}
        </aside>
      </div>
    </div>

  </body>
</html>
